/* 기본 설정 */
body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #F9FAFF;
  background: url("../images/bg-blur.png") no-repeat top center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

::selection {
  background: #FF5B8E;
  color: #111;
}

/* 헤더 */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 80px;
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo a {
  text-decoration: none;
  color: #F9FAFF;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

.menu a {
  margin-left: 24px;
  text-decoration: none;
  color: #F9FAFF;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #9D0A1C;
}

/* Project 섹션 */
.projects {
  padding: 100px 80px 250px; /* 오른쪽 패딩 제거 */
  position: relative;
  justify-content: center;
}


.projects h2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-family: 'Crimson Text', serif;
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 80px;
  font-weight: 600;
  margin: 80px 0 0;
  font-family: 'Crimson Text', serif;
  position: relative; /* 숫자 위치 기준 */
}

.project-list li a {
  text-decoration:none;
  color:#F9FAFF;
  transition: color 0.3s ease;
}

.project-list li a:hover {
  color:#FF5B8E;
}

.project-number {
  font-size: 22px;
  margin-right: 12px;
  min-width: 40px; /* 숫자의 고정 너비 설정 */
}

.project-list p {
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  margin-left: calc(40px + 12px + 16px); /* 숫자(min-width) + margin-right + gap */
}

/* 푸터 */
.footer {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.footer-right {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.footer-right a {
  color: #F9FAFF;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom p {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  color: #F9FAFF;
  margin: 0;
}
